<h1>Register User</h1>

<div class="form-group">
    <label for="tb-username">Username: </label>
    <input id="tb-username" class="form-control">

    <label for="tb-password">Password: </label>
    <input id="tb-password" class="form-control" type="password">
</div>

<button class="btn btn-primary" id="btn-register">Register</button>