<h2>Add new TODO</h2>

<div class="form-group">
    <label for="tb-todo-add-content">Content</label>
    <textarea id="tb-todo-add-content" class="form-control"></textarea>

    <label for="tb-todo-category">Category</label>
    <input id="tb-todo-category" class="form-control">
</div>

<button class="btn btn-primary" id="btn-todo-add">ADD</button>