body {
    background-image: url(../assets/canvas-bg7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -512px;
    border: 35px solid #11242C;
    border-radius: 15px;
    overflow: hidden;

    /* this fixes the overflow:hidden in Chrome/Opera */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}