<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Forum</title>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
<div id="forum-container">
    <h1>{{title}}</h1>
    <ul>
        {{#each posts}}
        <li>
            <div class="post">
                <p class="author">
                    {{if author}}
                    <a class="user" href="/user/{{author}}">{{author}}</a>
                    {{else}}
                    <a class="anonymous">Anonymous</a>
                    {{/if}}
                </p>
                <pre class="content">{{{text}}</pre>
            </div>
            <ul>
                {{#each comments}}
                <li>
                    <div class="comment">
                        <p class="author">
                            {{if author}}
                            <a class="user" href="/user/{{author}}">{{author}}</a>
                            {{else}}
                            <a class="anonymous">Anonymous</a>
                            {{/if}}
                        </p>
                        <pre class="content">{{{text}}</pre>
                    </div>
                </li>
                {{/each}}
                <li>
                    <div class="comment">
                        <p class="author">
                            <a class="anonymous">Anonymous</a>
                        </p>
                        <pre class="content">I would like to file a bug report.</pre>
                    </div>
                </li>
            </ul>
        </li>
        {{/each}}
    </ul>
</div>
</body>
</html>
