<label>
    <span>Page size:</span>
    <select id="dd-page-size">
        <option>2</option>
        <option>4</option>
        <option>8</option>
        <option>16</option>
    </select>
</label>
<button id="btn-filter" class="btn btn-default">Filter</button>
<div id="posts">

    <!--<ul id="pagination" class="pagination-sm">-->
        <!--{{#posts}}-->
    <!--<li> {{id}} - {{title}}: "{{body}}" by {{user.username}}</li>-->
        <!--{{/posts}}-->
    <!--</ul>-->
</div>

<div id="post-add">
    <input type="text" id="post-title" class="form-control" placeholder="Title">
    <textarea type="text" id="post-content" class="form-control" placeholder="Content"> </textarea>
    <button id="add-post" class="btn btn-default">Add Post</button>
</div>