<div class="message">
    <div>
        <p class="message-content">{{message}}</p>
        <p>
            <span>Created on </span><span class="message-date">{{postDate}}</span>
            by <a class="message-creator" href="#">{{userName}}</a>
        </p>
    </div>
</div>
