* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
}

#wrapper {
    #avatar {
        margin-top: 5px;
        margin-left: 5px;
        img {
            width: 230px;
            height: 230px;
            border-radius: 8px;
        }
    }
    .user-info {
        #main-info {
            h1 {
                margin-top: 9px;
                margin-left: 8px;
            }
            h2 {
                color: #66667D;
                font-weight: normal;
                margin-left: 6px;
                font-size: 20px;
            }
            #label {
                border-radius: 3px;
                display: inline-block;
                background-color: #6CC644;
                color: #F5FFFF;
                font-weight: bold;
                padding: 4px 4px 4px 4px;
                font-size: 10px;
                margin-left: 6px;
                margin-top: 8px;
            }
            a {
                text-decoration: none;
                color: #6DA6DD;
            }

        }
        #details {
            #location {
                display: inline;

            }
            p {
                display: inline;
                margin-left: 10px;
            }
            .octicon {
                color: #999999;
                margin-top: 20px;
                margin-left: 5px;
            }

            #mail {
                margin-top: -8px;
                a {
                    text-decoration: none;
                    color: #6DA6DD;
                }
            }
            #joined {
                margin-top: -11px;
            }

        }

        #git-info {
            font-size: 12px;
            font-weight: normal;
            color: #A08F76;
            margin-left: 18px;
            margin-top: 17px;
            span {
                display: block;

                color: #4078C0;
                font-weight: bold;
                font-size: 29px;
            }
            .followers {
                display: inline-block;
            }

            .starred {
                display: inline-block;
                margin-left: 33px;

            }
            .following {
                display: inline-block;
                margin-left: 42px;
            }
        }
    }
}