* {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 840px;
  border: 1px solid #010101;
  font-size: 14px;
  .clear-fix {
    clear: both;
  }
  aside.left {
    float: left;
    background-color: #F1F1F1;
    padding: 5px;
    width: 125px;
    h1 {
      font-weight: normal;
      font-size: 14px;
      background-image: url("house.png");
      background-repeat: no-repeat;
      margin-top: 10px;
      padding-left: 18px;
      background-position: 1px 1px;

    }
    h2 {
      color: #9B2523;
      font-size: 16px;
    }
    ul {
      list-style-type: none;
      li {
        a {
          text-decoration: none;
          color: #212121;
          font-size: 14px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  aside.right {
    float: right;
    width: 205px;
    div {
      border: 1px solid #A2A2A2;
      margin: 2px;
      padding: 2px;
      a {
        display: inline-block;
        color: #9B2523;
        text-decoration: underline;
        margin-left: 13%;
      }
      h6 {
        background-color: #808080;
        color: white;
        font-size: 1.0em;
        font-family: Arial;
        text-align: center;
      }
      img {
        margin-left: 35px;
      }
    }
  }

  main {
    float: left;
    width: 480px;
    border: 1px solid #A2A2A2;
    margin-left: 5px;
    padding: 5px;
    .previous {
      background-image: url("left-arrow.gif");
      background-repeat: no-repeat;
      background-position: 2px;
    }
    .next {
      background-image: url("right-arrow.gif");
      background-repeat: no-repeat;
      background-position: 75px 4px;
    }
    nav {
      border-top: 0;
    }
    h1 {
      padding-top: 22px;
      padding-left: 7px;
      font-family: Arial;
      font-size: 18px;
    }
    ul {
      list-style-type: none;
      margin-left: 25px;
      margin-bottom: 10px;
      margin-top: 10px;
      li {
        display: inline-block;
        border: 1px solid black;
        padding: 0px 25px 2px 35px
      }
    }
  }

  article.tutorial {
    height: 120px;
  }
  article {
    &:first-of-type {
      border-top: 2px solid #909090;
      padding-top: 5px;
    }

    height: 100px;
    header {
      background-color: #808080;
      color: white;
      font-family: Arial;
      font-weight: bold;
      padding: 2px 0;
    }
    .bold {
      font-weight: bold;
    }
    img.left {
      float: left;
    }
    a {
      font-size: 1.1em;
      text-decoration: underline;
      color: #9B2523;
      margin: 10px 10px 10px 5px;
      padding: 10px 10px 10px 5px;
      display: inline-block;
    }

    .clear-fix {
      &:before {
        clear: both;;
      }
    }

  }
  footer {
    border-top: 2px solid #909090;
    border-bottom: 2px solid #909090;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

