<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Watched</a></li>
        <li><a href="#tabs-2">Want-to-watch</a></li>
        <li><a href="#tabs-3">Watching</a></li>
    </ul>
    <div id="tabs-1">

    </div>
    <div id="tabs-2">

    </div>
    <div id="tabs-3">

    </div>
</div>